################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Trackmaster_Backend
/.vs
/.gitignore
/Trackmaster_Backend/obj/Release/net8.0
